<div class="container">
  <div class="row ml-5">
    <h4>登録情報
      <div class="btn ml-5">
        <p><%=link_to"お気に入り記事",favorites_user_path(@user) %></p>
      </div>
    </h4>
  </div>


  <div class="col-md-8 offset-md-1">
    <h2>レシピ一覧
      <div class="btn ml-5">
        <%= link_to "コメント一覧", new_recipe_path, class:"btn btn-success btn-sm" %>
      </div>
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>title</th>
          <th>introduction</th>
        </tr>
        <% @recipes.each do |recipe| %>
        <tr>
          <td><%= image_tag recipe.get_recipe_image(100,100) %></td>
          <td><%= link_to recipe.recipe_name, admin_recipe_path(recipe.id) %></td>
          <td><%= recipe.introduction %></td>
        </tr>
        <% end %>
      </thead>
    </table>
  </div>
</div>