<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2 class="text-center"><%= @recipe.recipe_name %></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div><%= image_tag @recipe.get_recipe_image(500,500) %></div>
    </div>

    <div class="col-md-8 offset-md-1">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row">レシピ名</th>
            <td><%= @recipe.recipe_name %></td>
          </tr>
          <tr>
            <th scope="row">レシピ説明</th>
            <td><%= @recipe.introduction %></td>
           </tr>
           <tr>
            <th scope="row">材料</th>
            <td >
              <% @recipe.ingredients.each do |ingredient| %>
                <%= ingredient.name %>　　<%= ingredient.amount %><br>
              <% end %>
            </td>
           </tr>
           <tr>
            <th scope="row">作り方</th>
            <td >
              <% @recipe.steps.each do |step| %>
                <%= step.description %><br>
              <% end %>
            </td>
           </tr>
              <td><%= link_to "Edit", edit_admin_recipe_path(@recipe), class:"btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", admin_recipe_path(@recipe), class:"btn btn-sm btn-danger", method: :delete,"data-confirm" => "本当に削除しますか？" %></td>
        </tbody>
      </table>
    </div>
  </div>

    <div class="row ">
      <div class="col-md-5">
        <div>
          <p>コメント件数：<%= @recipe.post_comments.count %></p>
          <% @recipe.post_comments.each do |post_comment| %>
            <%= post_comment.user.name %>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
            <%= link_to "削除", admin_post_comment_path(post_comment), method: :delete %><br>
          <% end %>
        </div>
      </div>

      <div class="col-md-5">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">投稿者</th>
              <td><%= link_to @recipe.user.name, user_path(@recipe.user.id) %></td>
            </tr>
            <tr>
              <th scope="row">プロフィール</th>
              <td><%= @recipe.user.profile %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>