<div class="row m-3">
  <div class="col offset-md-2">
    <h4>レシピ一覧</h4>
  </div>
</div>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>レシピ</th>
          <th>レシピ説明</th>
          <th></th>
        </tr>
        <% @recipes.each do |recipe| %>
        <tr>
          <td><%= link_to recipe_path(recipe.id) do %>
            <%= image_tag recipe.get_recipe_image(100,100) %>
            <% end %>
          </td>
          <td><%= link_to recipe.recipe_name, recipe_path(recipe.id) %></td>
          <td><%= recipe.introduction %></td>
          <td>♡<%= recipe.favorites.count %> いいね</td>
        </tr>
        <% end %>
      </thead>
    </table>
  </div>
</div>