<div class="container">
  <div class="m-3">
    <div class="col offset-md-2">
      <h4>レシピ新規投稿</h4>
      <% if @recipe.errors.any? %>
        <%= @recipe.errors.count %>件のエラーが発生しました
        <ul style="color: red">
          <% @recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

    <%= form_with model: @recipe, url: recipes_path, method: :post do |f| %>
    <div class="form-group">
      <label for="image_image">商品画像</label>
      <%= f.file_field :recipe_image, accept: "image/*", class: 'form-control-file' %>
    </div>
    <div class="form-group">
      <label for="item_name">レシピ名</label>
      <%= f.text_field :recipe_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="item_introduction">レシピ紹介</label>
      <%= f.text_area :introduction, class: 'form-control'%>
    </div>

    <div class="form-group">
      <label for="price">材料</label>
      <div class="add-botton-box">
        <%= link_to_add_association "追加ボタン", f, :ingredients,
        class: 'add_fields',
        id: 'add-btn',
        data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'after'
          }
        %>
      </div>
      <div id="detail-association-insertion-point"></div>

      <!-- 2）動的に追加するフォーム(renderで飛ばしている先が追加される) -->
      <%= f.fields_for :ingredients do |form| %>
        <%= render "ingredient_fields", f: form %>
      <% end %>
    </div>

    <div class="form-group">
      <label for="price">作り方</label>
      <div class="add-botton-box">
        <%= link_to_add_association "追加ボタン", f, :steps,
        class: 'add_fields',
        id: 'add-btn',
        data: {
          association_insertion_node: '#detail2-association-insertion-point',
          association_insertion_method: 'after'
          }
        %>
      </div>
      <div id="detail2-association-insertion-point"></div>

      <!-- 2）動的に追加するフォーム(renderで飛ばしている先が追加される) -->
      <%= f.fields_for :steps do |form| %>
        <%= render "step_fields", f: form %>
      <% end %>
    </div>

    <div class="form-group">
        <%= f.label :genre_id,'ジャンル' %>

        <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: '選択してください' }, class: 'form-control' %>
    </div>
    <div class="row justify-content-md-center">
      <div class="form-group">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    </div>

    <% end %>
  </div>
</div>