<div class="container">
  <div class="m-3">
    <div class="col offset-md-2">
      <h4>レシピ新規投稿</h4>
    </div>
  </div>

  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

    <%= form_with model: Recipe do |f| %>
    <div class="form-group">
      <label for="image_image">商品画像</label>
      <%= f.file_field :profile_image, accept: "image/*", class: 'form-control-file' %>
    </div>
    <div class="form-group">
      <label for="item_name">レシピ名</label>
      <%= f.text_field :recipe_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="item_introduction">レシピ紹介</label>
      <%= f.text_area :introduction, class: 'form-control'%>
    </div>
    <div class="form-group">
      <label for="price">材料</label>
      <%= f.text_field :item, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="price">作り方</label>
      <%= f.text_area :procedure, class: 'form-control' %>
    </div>
    <div class="form_input">
        <%= f.label :genre_id %>

        <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: '選択してください' }, class: 'form-control' %>
    </div>
    <div class="row justify-content-md-center">
      <div class="form-group">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    </div>

    <% end %>
  </div>
</div>