
  <h1>マイページ</h1>
  <div class="row ml-5">
    <h4>登録情報
      <div class="btn ml-5">
        <p><%=link_to"お気に入り記事",favorites_user_path(@user) %></p>
      </div>
    </h4>
  </div>

<div class="row">
  <div class="col-md-3">
    <h2>User info</h2>
    <div>
      <%#= image_tag user.get_profile_image(100,100) %>
      <table class="table">
        <tr></tr>
        <tbody></tbody>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.profile %></th>
          </tr>
        </tbody>
      </table>
      <%= link_to edit_user_path, class:"btn btn-outline-secondary btn-block" do %>
      <i class="fa-solid ffas fa-user-cog"></i>
      <% end %>
    </div>
  </div>

  <div class="col-md-8 offset-md-1">
    <h2>レシピ一覧
      <div class="btn ml-5">
        <%= link_to "投稿", new_recipe_path, class:"btn btn-success btn-sm" %>
      </div>
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>title</th>
          <th>Opinion</th>
        </tr>
        <% @recipes.each do |recipe| %>
        <tr>
          <td><%= image_tag recipe.get_recipe_image(100,100) %></td>
          <td><%= link_to recipe.recipe_name, recipe_path(recipe.id) %></td>
          <td><%= recipe.introduction %></td>
        </tr>
        <% end %>
      </thead>
    </table>
  </div>
<div>