<div class="row m-3">
  <div class="col offset-md-2">
    <h4>マイページ</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h4>ユーザー情報</h4>
    <div>
      <%#= image_tag user.get_profile_image(100,100) %>
      <table class="table">
        <tr></tr>
        <tbody></tbody>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>profile</th>
            <th><%= @user.profile %></th>
          </tr>
        </tbody>
      </table>
      <% if @user == current_user %>
        <%= link_to edit_user_path, class:"btn btn-outline-secondary btn-block" do %>
        <i class="fa-solid ffas fa-user-cog"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-md-8 offset-md-1">
    <h4>レシピ一覧
    <% if @user == current_user %>
      <div class="btn ml-5">
        <%= link_to "レシピ投稿", new_recipe_path, class:"btn btn-success btn-sm" %>
      </div>
      <div class="btn ml-5">
        <%=link_to"いいねしたレシピ",favorites_user_path(@user) %>
      </div>
    <% end %>
    </h4>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>レシピ</th>
          <th>レシピ説明</th>
        </tr>
        <% @recipes.each do |recipe| %>
        <tr>
          <td><%= image_tag recipe.get_recipe_image(100,100) %></td>
          <td><%= link_to recipe.recipe_name, recipe_path(recipe.id) %></td>
          <td><%= recipe.introduction %></td>
        </tr>
        <% end %>
      </thead>
    </table>
  </div>
<div>