<div class="container">
  <h1>マイページ</h1>
  <div class="row ml-5">
    <h4>登録情報
      <div class="btn ml-5">
        <%= link_to "編集する", users_information_edit_path, class:"btn btn-success btn-sm" %>
      </div>
    </h4>
  </div>
  <div class="container m-5">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th class="col-3">氏名</th>
        <th><%= @user.name %></th>
      </tr>
        <th class="col-3">プロフィール</th>
        <th><%= @user.profile %></th>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <th><%= @user.email %></th>
      </tr>
    </tbody>
  </table>
  <div>
    <div class="row">
      <h4>レシピ一覧
        <div class="btn ml-5">
          <%= link_to "投稿", new_recipe_path, class:"btn btn-success btn-sm" %>
        </div>
      </h4>
    </div>
  </div>
</div>

</div>